apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config
  labels:
    app.kubernetes.io/name: {{ .Chart.Name }}
    app.kubernetes.io/instance: {{ .Release.Name }}
data:
  NODE_ENV: {{ .Values.config.nodeEnv | quote }}
  PYTHON_ENV: {{ .Values.config.pythonEnv | quote }}
  CORS_ORIGINS: "http://{{ .Release.Name }}-{{ .Values.frontend.name }}:{{ .Values.frontend.service.port }},{{ .Values.backend.env.CORS_ORIGINS }}"
  NEXT_PUBLIC_API_URL: "http://{{ .Release.Name }}-{{ .Values.backend.name }}:{{ .Values.backend.service.port }}"
